body {
	font-family:Arial;
}
#main {
	width:900px;
	margin:auto;
}

#browser, #playlist, #fileinfo {
	width: 300px;
	height: 450px;
	overflow:auto;
	border:1px solid gray;
	padding:4px;
	float:left;
	text-align:left;
}
#fileinfo {
	width: 890px;
	height: 40px;
	margin:4px 0px 4px 0px;
}
#browser {
	width:580px;
}

#info {
	width:20px;
	height:100px;
}

#playlist ul {
	list-style:none;
}
#playlist ul li {
	background:#222;
	border:1px solid gray;
	height:30px;
}
#playlist ul li a {
	text-decoration:none;
}
#playlist ul li:hover {
	border:1px solid red;
}
#playlist ul li.current {
	background:#042;
}
.handle { float: left; margin-right: 3px; cursor: move; width:16px; height:16px; }

#player {
	margin:4px 5px 0px 0px;
}
